<!DOCTYPE html>

<html>
<title>ViewIt!</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
    body,
    h1 {
        font-family: "Montserrat", sans-serif
    }

    img {
        margin-bottom: -7px
    }

    .w3-row-padding img {
        margin-bottom: 12px
    }
</style>

<body>
    <!-- Sidebar -->
    <%= render "layouts/header" %>
    <!--<nav class="w3-sidebar w3-black w3-animate-top w3-xxlarge" style="display:none; padding-top:150px" id="mySidebar">
        <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-black w3-xxlarge w3-padding w3-display-topright" style="padding:6px 24px">
            <i class="fa fa-remove"></i>
        </a>
        <div class="w3-bar-block w3-center bar-index-home">
            <a href="home#index" class="w3-bar-item w3-button w3-text-grey w3-hover-black">Home</a>

            <a href="/Login" class="w3-bar-item w3-button w3-text-grey w3-hover-black">Login</a>
            <% if session[:user_id] %>
                <a class="w3-bar-item w3-button w3-text-grey w3-hover-black">
                    <%= link_to "Pictures", pictures_path %>
                </a>
                <a class="w3-bar-item w3-button w3-text-grey w3-hover-black">
                    <%= link_to "Users", users_path %>
                </a>
                <a class="w3-bar-item w3-button w3-text-grey w3-hover-black">
                    <%= link_to "Logout", logout_path, method: :delete %>
                </a>
                <% end %>
                    <a href="/about" class="w3-bar-item w3-button w3-text-grey w3-hover-black">About</a>
                    <a href="#" class="w3-bar-item w3-button w3-text-grey w3-hover-black">Photos</a>

                    <a href="#" class="w3-bar-item w3-button w3-text-grey w3-hover-black">Contact</a>
        </div>
    </nav>
-->

    <!-- !PAGE CONTENT! -->
    <div class="w3-content" style="max-width:1500px">

        <!-- Header -->
        <div class="w3-opacity">
            <span class="w3-button w3-xxlarge w3-white w3-right" onclick="w3_open()">
                <i class="fa fa-bars"></i>
            </span>
            <div class="w3-clear"></div>
            <header class="w3-center w3-margin-bottom">
                <h1>
                    <b>ViewIt!</b>
                </h1>
                <p>
                    <b>View everything in front of you </b>
                </p>
                <p class="w3-padding-16">
                    <button class="w3-button w3-black" onclick="myFunction()">Toggle Grid Padding</button>
                </p>
            </header>
        </div>

        <div class="row d4-image-index">
            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#">
                        <%= image_tag  "index-img/1.jpg", :class => "card-img-top" %>
                    </a>
                    <div class="overlay">
                        <div class="btnLike">
                            <a class="fa fa-thumbs-up btn" href="#" role="button"> Like</a>
                        </div>

                        <div class="btnDownload">
                            <a class="fa fa-download btn btn-primary" title="Download Here!" href="#" role="button"></a>
                        </div>

                        <div class="btnComment">
                            <a class="fa fa-commenting-o btn btn-success" href="#" role="button"> Comment</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Project One</a>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#">
                        <%= image_tag  "index-img/2.jpg", :class => "card-img-top" %>
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Project Two</a>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#">
                        <%= image_tag  "index-img/3.jpg", :class => "card-img-top" %>
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Project Three</a>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#">
                        <%= image_tag  "index-img/4.jpg", :class => "card-img-top" %>
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Project Four</a>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#">
                        <%= image_tag  "index-img/5.jpg", :class => "card-img-top" %>
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Project Four</a>
                        </h4>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#">
                        <%= image_tag  "index-img/1.jpg", :class => "card-img-top" %>
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Project Four</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="row">
            <div class="col-md-4 col-lg-4 col-xs-4">
                <% @picture.each do |picture| %>
                    <tr>
                        <td>
                            <%= picture.name %>
                        </td>
                        <td>
                            <%= picture.description %>
                        </td>
                        <td>
                            <%= picture.image_url %>
                        </td>
                        <td>
                            <%= link_to 'Show', root_path %>
                        </td>
                        <td>
                            <%= link_to 'Edit', edit_picture_path(picture) %>
                        </td>
                        <td>
                            <%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %>
                        </td>
                    </tr>
                    <% end %>
            </div>
        </div>-->

        <!-- Photo Grid -->
        <!--<div class="w3-row" id="myGrid" style="margin-bottom:128px">-->
        <% @picture.each do |picture| %>
            <div class="w3-third">
                <%= image_tag picture.image_url.thumb.url %>
            </div>
            <% end %>

                <!-- End Page Content -->
    </div>


    <script>
        // Toggle grid padding
        function myFunction() {
            var x = document.getElementById("myGrid");
            if (x.className === "w3-row") {
                x.className = "w3-row-padding";
            } else {
                x.className = x.className.replace("w3-row-padding", "w3-row");
            }
        }

        // Open and close sidebar
        function w3_open() {
            document.getElementById("mySidebar").style.width = "100%";
            document.getElementById("mySidebar").style.display = "block";
        }

        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
        }
    </script>
    </div>

</html>